@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$main_color: #0EC261;
$main_black: #121212;
$gray_dark: #999999;
$gray_light: #EEEEEE;

.main {
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 84.8vh;
}

.left {
    width: 70vw;
    margin-left: 64px;
    padding-left: 64px;
}

.steps {
    margin-top: 100px;
    margin-left: 64px;
    padding: 8px 0;
    padding-left: 64px;
    border-top: $gray_light 1px solid;
    border-bottom: $gray_light 1px solid;
    display: flex;
    
    & div {
        margin: 0 8px;
    }
}

.step {
    font-size: 14px;
    font-weight: bold;
    color: $gray_dark;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.active {
    color: $main_color;
}

.inputs {
    margin-top: 32px;
    width: 350px;
    display: flex;
    flex-direction: column;

    & div {
        margin-left: auto;
        margin-right: 0;
    }

    & label {
        font-size: 14px;
        font-weight: thin;
    }
}

.input {
    border: none;
    height: 15px;
    border-bottom: $gray_dark 1px solid;
    margin: 0 0 13px 8px ;
    font-size: 14px;
    font-weight: 300;
}

.map {
    margin-top: 45px;
    font-size: 14px;
    font-weight: 300;
    width: 100%;

    &__yandex {
        margin-top: 16px;
    }
}

.order {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 290px;
    padding-right: 64px;
    padding-left: 32px;
    border-left: $gray_light 1px solid;
    padding-top: 32px;

    &__wrapp {
        flex-grow: 2;
    }

    &__head {
        font-size: 18px;
        text-align: end;
    }

    &__point {
        display: flex;
        justify-content: space-between;
        height: 30px;
        margin-top: 26px;
        display: flex;
        align-items: flex-end;
        border-bottom: .1em dotted $gray_dark;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }

    &__pricename {
        margin-top: 32px;
        display: flex;
        font-size: 16px;
        font-weight: 500;

        & p {
            margin: 0;
            margin-left: 5px;
            font-weight: normal;
        }
    }

    &__button {
        width: 290px;
        height: 50px;
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        border-radius: 5px;
        background: $gray_light;
        font-size: 18px;
        font-weight: 500;

        &.active {
            background: linear-gradient(90deg, #0EC261, #039F67);

            &:hover {
                background: linear-gradient(90deg, #0B934A, #026E47);
                cursor: pointer;
            }
            
            &:active {
                background: linear-gradient(90deg, #076432, #013C27);
            }
        }
    } 
}
.point__name {
    font-size: 14px;
    font-weight: 300;
    float: left;
    margin-bottom: -.31em;
    background: #FFF;
}

.point__address {
    font-size: 14px;
    font-weight: 300;
    color: $gray_dark;
    float: right;
    margin-bottom: -.31em;
    background: #FFF;
    margin-left: auto;
}

@media (max-width: 1199px) {
	
}
@media (max-width: 991px) {
	.order {
        width: 180px;

        &__button {
            width: 180px;
        }

        &__pricename {
            font-size: 14px;
        }
    }

    .point__border {
        display: none;
    }

    
}

@media (max-width: 767px) {
    .steps {
        padding-left: 32px;
    }

    .left {
        padding-left: 32px;
    }

    .inputs {
        width: 250px;
    }
}

@media (max-width: 539px) {
	.steps {
        padding-left: 0;
        margin-left: 0;
        display: flex;
        justify-content: space-around;

        & div {
            margin: 0;
        }
    }

    .step {
        font-weight: medium;
    }

    .main {
        flex-direction: column;
    }
    .left { 
        padding-left: 16px;
        margin-left: 0;
        width: 85%;
    }
    .inputs {
        margin-top: 16px;
    }
    .map {
        margin-top: 0px;
    }
    .order {
        position: fixed;
        bottom: 0;
        background: #151B1F;
        width: 81vw;
        margin-left: 0;
        padding-top: 8px;
        height: 165px;
        color: #FFFFFF;
        display: flex;

        &__desc {
            margin-left: 0;
            width: 215px;
        }

        &__point {
            margin-top: 0;
        }

        &__pricename {
            margin-top: 16px;
        }



        &__button {
            margin-top: 8px;
            height: 40px;
        }

    }

    .point__name {
        background: #151B1F;
    }
    
    .point__address {
        background: #151B1F;
        width: 60px;
    }
}



